{"blocks":[{"type":"header","text":{"type":"plain_text","text":"🚨 {{Severity}} Vulnerability Detected"}},{"type":"section","fields":[{"type":"mrkdwn","text":"*ID:* <{{URL}}|{{ID}}>"},{"type":"mrkdwn","text":"*Severity:* {{Severity}}"},{"type":"mrkdwn","text":"*EPSS:* {{EPSS}}"},{"type":"mrkdwn","text":"*LEV:* {{LEV}}"}]},{"type":"section","text":{"type":"mrkdwn","text":"*Summary:* {{Summary}}"}},{"type":"context","elements":[{"type":"mrkdwn","text":"Reported by Mayu | Event: {{Event}}"}]}]}
